﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;amp;subset=cyrillic" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/d1317ec63d.js"></script>
</head>
<body class="main">
    <div class="mobile-menu"></div>
    <div id="page-wr">
        <header class="head">
            <div class="head-bot">
                <div class="wrapper">
                    <div class="head-bot-cont">
                        <div class="main-logo">
                            <div class="logo-main"><a href="/"><img src="/img/logo-inner.png" alt="" /></a></div>
                        </div>
                        <div class="main-menu">
                            <nav class="nav">
                                <ul class="nav__list">
                                    <li class="nav__item"><a class="nav__link" href="/">Акции</a></li>
                                    <li class="nav__item"><a class="nav__link" href="/">Бренды</a></li>
                                    <li class="nav__item active"><a class="nav__link" href="/">Книги</a></li>
                                    <li class="nav__item"><a class="nav__link active" href="/">Магазины</a></li>
                                    <li class="nav__item"><a class="nav__link" href="/">Сертификаты</a></li>
                                    <li class="nav__item"><a class="nav__link" href="/">Электроника</a></li>
                                    <li class="nav__item"><a class="nav__link" href="/">Одежда и обувь</a></li>
                                    <li class="nav__item"><a class="nav__link" href="/black-friday">Черная пятница</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="burger"><span></span></div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer class="footer">
            <div class="wrapper">
                <div class="footer-cont">
                    <div class="footer-el">
                        <div class="soc"> <a class="soc__link" href=""><img src="/img/ico-vk.svg" alt="" /></a><a class="soc__link" href=""><img src="/img/ico-fb.svg" alt="" /></a><a class="soc__link" href=""><img src="/img/ico-inst.svg" alt="" /></a><a class="soc__link" href=""><img src="/img/ico-tw.svg" alt="" /></a><a class="soc__link" href=""><img src="/img/ico-google.svg" alt="" /></a><a class="soc__link" href=""><img src="/img/ico-ok.svg" alt="" /></a></div>
                        <div class="footer-menu">
                            <div class="footer-menu__item"><a class="footer-menu__link" href="#">О компании</a></div>
                            <div class="footer-menu__item active"><a class="footer-menu__link" href="#">Новости</a></div>
                            <div class="footer-menu__item"><a class="footer-menu__link" href="#">Акции</a></div>
                            <div class="footer-menu__item"><a class="footer-menu__link" href="#">Фотогалерея</a></div>
                            <div class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты</a></div>
                        </div>
                    </div>
                    <div class="footer-phone">
                        <div class="tel-selected"> <a href="tel:+70000000000">+7 (000) 000-00-00</a></div>
                    </div>
                    <div class="footer-el">
                        <div class="footer-el--left">
                            <div class="email"><a href="mailto: contact@site.com">contact@site.com</a></div>
                        </div>
                    </div>
                    <div class="footer-el">
                        <div class="footer-el--left">
                            <div class="copy">© 2018 Корпоративный сайт<br> Все права защищены.</div><a class="politics" href="#">Политика конфиденциальности</a>
                        </div>
                        <div class="footer-el--right">
                            <a class="dev" href="http://xpage.ru" target="_blank">
                                <span>Сделано в</span>
                                <div class="dev__img"><img src="/img/ico-dev.svg" alt="" /></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>