﻿@model PagedList.IPagedList<BlackFriday.Models.Good>

@{
    string search = Context.Request.Query["search"];
    string filter = Context.Request.Query["filter"];
    ViewData["Title"] = "BlackFriday";
}

<div id="content">
    <div class="main-blackfriday">
        <div class="main_blackfriday_title">
            <h1 class="glitch">
                BLACK FRIDAY
            </h1>
        </div>
        <div class="main_blackfriday_arrow">
            <div id="arrow">
                <a href="#product"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div id="product">
        <div class="product-title">
            <h3><b>HOT SALE</b></h3>
        </div>

        <div class="m-auto w-90">
            <form action="black-friday">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Поиск" name="search" required="required" value="@search" />
                    <div class="input-group-append">
                        <button class="btn" type="submit">
                            <i class="fa fa-search fa-1x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="product-filter">
            <a class="product-filter_btn" href="/black-friday?filter=Laptops">
                <b>Ноутбуки</b>
            </a>
            <a class="product-filter_btn" href="/black-friday?filter=Smartphones">
                <b>Смартфоны</b>
            </a>
            <a class="product-filter_btn" href="/black-friday?">
                <b>Все товары</b>
            </a>
        </div>
        <div class="product-body">
            @foreach (var item in Model)
            {
                <div class="product-block_item" href="#" data-type="@item.category">
                    <figure class="product-block_item-img"><img src="http://chelhack.deletestaging.com/@(item.imageUrl)" /></figure>
                    <div class="product-block_item-info">
                        <div class="product-block_item-title">@item.title</div>
                        <div class="product-block_item-dop">@item.brand</div>
                        <div class="pr-block">
                            <div class="product-block_item-price text-danger"><b> @item.finalprice</b></div>
                            <div class="product-block_item-sale">@item.price</div>
                        </div>
                        <div class="product-block_item_wrapper">
                            <a href="/home/add/@item.id">
                                <div class="product-block_item_btn-cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="flex-row d-flex m-auto product-filter">
        @for (int i = 1; i < Model.PageCount + 1; i++)
        {
            <a class="btn_pagination @(Model.PageNumber == i ? "active" : "" )" href="/black-friday?page=@i&@(filter != null ? "filter="+ filter :  "")"><b>@i</b> </a>
        }
    </div>
</div>
@*Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount*@


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#arrow").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body,html').animate({ scrollTop: top }, 1000);
            });
            if (window.location.href.indexOf('?') != -1) {
                $('body,html').animate({ scrollTop: $('#product').offset().top }, 800);
            }
        });
    </script>
}