﻿@model IEnumerable<BlackFriday.Models.Good>

@{
    ViewData["Title"] = "Cart";

}
<div style="height:100px"></div>
<div id="content">
    <div class="container">
        <div class="shopping-cart-title">
            <h1>Корзина</h1>
        </div>
        <div class="shopping-cart">
            <div class="column-labels">
                <label class="product-image">Изображение</label>
                <label class="product-details">Product</label>
                <label class="product-price">Цена</label>
                <label class="product-quantity">Кол-во</label>
                <label class="product-removal">Удалить</label>
                <label class="product-line-price">Стоимость</label>
            </div>
            <form method="POST" action="order">
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <div class="product-image">
                                <img src="http://chelhack.deletestaging.com/@item.imageUrl">
                            </div>
                            <div class="product-details">
                                <h3 class="product-description">@item.title</h3>
                            </div>
                            <div class="product-price">@item.finalprice</div>
                            <div class="product-quantity">
                                <input type="number" value="1" min="1" max="@item.quantity" name="quantity" class="number" />
                            </div>
                            <div class="product-removal">
                                <a class="remove-product" href="/home/delete/@item.id">
                                    Удалить
                                </a>
                            </div>
                            <div class="product-line-price">@item.finalprice</div>
                        </div>
                    }
                }
                else
                {
                    <b>Корзина пуста</b>
                }
                <div class="totals">
                    <div class="totals-item totals-item-total">
                        <label>Всего</label>
                        <div class="totals-value" id="cart-total"></div>
                    </div>
                </div>
                <div class="button-cart">
                    <button class="btn btn-outline-dark" type="submit">Купить</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var taxRate = 0.05;
        var shippingRate = 15.00;
        var fadeTime = 300;
        window.onload = function () {
            recalculateCart();
        };
        /* Assign actions */
        $('.product-quantity input').change(function () {
            updateQuantity(this);
        });
        $('.product-removal button').click(function () {
            removeItem(this);
        });
        /* Recalculate cart */
        function recalculateCart() {
            var subtotal = 0;
            $('.product').each(function () {
                subtotal += parseFloat($(this).children('.product-line-price').text());
            });
            var total = subtotal;
            $('.totals-value').fadeOut(fadeTime, function () {
                $('#cart-total').html(total.toFixed(2));
                if (total == 0) {
                    $('.checkout').fadeOut(fadeTime);
                } else {
                    $('.checkout').fadeIn(fadeTime);
                }
                $('.totals-value').fadeIn(fadeTime);
            });
        }
        function updateQuantity(quantityInput) {
            var productRow = $(quantityInput).parent().parent();
            var price = parseFloat(productRow.children('.product-price').text());
            var quantity = $(quantityInput).val();
            var linePrice = price * quantity;
            productRow.children('.product-line-price').each(function () {
                $(this).fadeOut(fadeTime, function () {
                    $(this).text(linePrice.toFixed(2));
                    recalculateCart();
                    $(this).fadeIn(fadeTime);
                });
            });
        }
        function removeItem(removeButton) {
            var productRow = $(removeButton).parent().parent();
            productRow.slideUp(fadeTime, function () {
                productRow.remove();
                recalculateCart();
            });
        }
    </script>
}

