﻿@{
    ViewData["Title"] = "Home Page";
}
<div id="content">
    <div class="main-slider__cont">
        <div class="main-slider-arrow">
            <div class="wrapper"></div>
        </div>
        <div class="main-slider">
            <div class="main-slider__slide">
                <picture>
                    <source srcset="img/photos/banner.png" media="screen and (min-width: 701px)" data-main="data-main" />
                    <source srcset="img/photos/new-main-slider-img-4-1.jpg" media="screen and (min-width: 700px)" />
                    <img />
                </picture>
            </div>
        </div>
    </div>
    <div class="slider slider-tovar">
        <div class="wrapper">
            <div class="slider-cont">
                <div class="title"> <span>Наши товары</span></div>
                <div class="slider__block">
                    <div class="slider__block-list">
                        <a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/1.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">MacBook Pro /MR942RU/A/ intel i7/16Gb/512Gb/Touch Bar/15.4/Radeon Pro 560 4GB/Space Grey</div>
                                <div class="slider-block__info-dop">Apple</div>
                                <div class="slider-block__info-price">199 990 Р</div>
                                <div class="slider-block__info-price--sale">219 990 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/2.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">UMA i7-7500U 8GB 1040 /1EP98EA/</div>
                                <div class="slider-block__info-dop">HP</div>
                                <div class="slider-block__info-price">109 990 Р</div>
                                <div class="slider-block__info-price--sale">120 990 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/3.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук Omen 15-ce016ur /2CR89EA/ intel i7 7700HQ/8Gb/1Tb/15.6FHD IPS/GTX 1060 6Gb/Win10 Shadow black</div>
                                <div class="slider-block__info-dop">HP</div>
                                <div class="slider-block__info-price">100 990 Р</div>
                                <div class="slider-block__info-price--sale">120 990 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/4.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук 15-dp0097ur /5AS66EA/ intel i5 8300H/8Gb/1Tb+128Gb SSD/15.6FHD IPS/DVDRW/GTX 1060 3Gb/Win10</div>
                                <div class="slider-block__info-dop">HP</div>
                                <div class="slider-block__info-price">79 990 Р</div>
                                <div class="slider-block__info-price--sale">87990 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/5.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук GL63 intel i5 9300H/8Gb/256Gb/15.6FHD/GTX165 черный</div>
                                <div class="slider-block__info-dop">MSI</div>
                                <div class="slider-block__info-price">74 990 Р</div>
                                <div class="slider-block__info-price--sale">83 500 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/6.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук GF63 8RC-046RU /9S7-16R112-046/ intel i5 8300H/8Gb/1Tb/15.6FHD IPS/NV GTX1050 4G/Win10</div>
                                <div class="slider-block__info-dop">MSI</div>
                                <div class="slider-block__info-price">69 990 Р</div>
                                <div class="slider-block__info-price--sale">85 300 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/7.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук FX705GD-EW070T /90NR0112-M02970/ intel i5 8300H/8Gb/1Tb/17.3FHD IPS/GTX1050 4Gb/Win10 Black</div>
                                <div class="slider-block__info-dop">ASUS</div>
                                <div class="slider-block__info-price">69 990 Р</div>
                                <div class="slider-block__info-price--sale">85 300 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/8.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Yoga 530-14ARR /81H90006RU/ RYZEN 5 2500U/8Gb/256Gb/14FHD IPS Touch/Vega 8/Win10 Onyx Black</div>
                                <div class="slider-block__info-dop">Lenovo</div>
                                <div class="slider-block__info-price">69 990 Р</div>
                                <div class="slider-block__info-price--sale">85 690 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/9.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук GF63 8RC-046RU /9S7-16R112-046/ intel i5 8300H/8Gb/1Tb/15.6FHD IPS/NV GTX1050 4G/Win10</div>
                                <div class="slider-block__info-dop">MSI</div>
                                <div class="slider-block__info-price">69 990 Р</div>
                                <div class="slider-block__info-price--sale">85 300 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/10.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук FX705GD-EW070T /90NR0112-M02970/ intel i5 8300H/8Gb/1Tb/17.3FHD IPS/GTX1050 4Gb/Win10 Black</div>
                                <div class="slider-block__info-dop">ASUS</div>
                                <div class="slider-block__info-price">69 990 Р</div>
                                <div class="slider-block__info-price--sale">85 300 Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/11.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Игровой ноутбук 15-bc421ur /4GY88EA/ intel i5 8300H/8Gb/1Tb/15.6FHD/GTX 1050 2Gb/ Win10 черный</div>
                                <div class="slider-block__info-dop">HP</div>
                                <div class="slider-block__info-price">59 990 Р</div>
                                <div class="slider-block__info-price--sale">73 530Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a><a class="slider-block__item" href="#">
                            <figure class="slider-block__item-img"><img src="img/photos/12.jpg" /></figure>
                            <div class="slider-block__item-info">
                                <div class="slider-block__info-title">Ноутбук 15-da1066ur /6VK42EA/ intel i5 8265U/8Gb/1Tb+128Gb SSD/15.6/GeForce MX110 2Gb/Win10 Fog blue</div>
                                <div class="slider-block__info-dop">HP</div>
                                <div class="slider-block__info-price">59 990 Р</div>
                                <div class="slider-block__info-price--sale">73 530Р</div>
                                <div class="slider-block__info-btn ico-cart"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
